<!doctype html>
<html>

<head>
    <title>メシアプリ</title>
    <!-- bootstrap -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        function deleteImage(id) {
            var deleteConfirm = confirm('削除してよろしいでしょうか？');
            if (deleteConfirm == true) {
                $.ajax({
                    url: "/api/" + id,
                    type: "POST",
                    data: { "id": id, "_method": "DELETE" },
                    success: function (data) {
                        alert("Success");
                        location.reload();
                    }
                });
            }
            return false;
        }

        window.addEventListener("load", function () {
            document.getElementById("select_submitter").addEventListener("change", function (data) {
                var s = $("option:selected").val();
                $.get("/api/submitter/" + s, function (data) {
                    $('#image_area').children().remove();
                    data.forEach(function (value) {
                        var item = "<p>" + value.uploadtime + "</p>"
                        item += "<img src='" + value.thumbpath + "' width='100%' height='auto' />"
                        if (value.latitude) {
                            item += "<p><a href='http://maps.google.com/maps?q=" + value.latitude + "," + value.longitude + "'>Google Mapで場所を見る</a></p>"
                            $.get("/api/hotpepper/" + value.latitude + "/" + value.longitude, function (data) {
                                if (Object.keys(data).length > 0) {
                                    item += "<p>もしかして、、、ここかも？<br/>";
                                    item += "店名：<a href='" + data.url + "'>" + data.name + "</a><br/>";
                                    item += "住所：" + data.address + "<br/>";
                                }
                                item += "<p><a href='javascript:deleteImage(" + value.id + ");void(0)'>削除する</a></p>"
                                $("#image_area").append(item);
                            });
                        } else {
                            item += "<p><a href='javascript:deleteImage(" + value.id + ");void(0)'>削除する</a></p>"
                            $("#image_area").append(item);
                        }
                    });
                });
            });
        }, true);
    </script>
</head>

<body>
    <!-- navbar-->
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="#">メシアプリ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">撮影</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/photo">写真<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">地図</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- main-->
    <main roll="main" class="container">
        <div class="form-group">
            <label for="select_submitter">投稿者：</label>
            <select class="form-control" id="select_submitter">
            </select>
        </div>
        <div id="image_area">
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $.get("/api/submitter/", function (data) {
            $("#select_submitter").append("<option>選択して下さい。</option>");
            data.forEach(function (value) {
                $("#select_submitter").append("<option value='" + value + "'>" + value + "</option>");
            });
        });
    </script>
</body>

</html>